<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiseyEvents - Giriş</title>
    <link rel="stylesheet" href="static/styles.css"> <!-- Stil dosyanızı buraya bağlayın -->
</head>
<body>
    <div class="container">
        <h1>Smart Activity</h1>
        <p>Etkinliklerinize kolayca ulaşın ve yönetin!</p>
        
        <div class="buttons">
            <a href="/login/admin" class="btn">Admin Girişi</a>
            <a href="/login/user" class="btn">Kullanıcı Girişi</a>
        </div>
    </div>
</body>
</html>
